<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>タクシー評価結果</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/jquery.mobile-1.3.2.min.css' />
        <script src="/javascripts/jquery-1.10.2.min.js"></script>
        <script src="/javascripts/jquery.mobile-1.3.2.min.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header" data-position="fixed">
                <h1>結果</h1>
            </div>
            <div data-role="content">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        色
                    </div>
                    <div class="ui-block-b">
                        タイプ
                    </div>
                    <div class="ui-block-c">
                        評価
                    </div>
                    <% taxis.forEach(function(doc){%>
                    <div class="ui-block-a">
                        <% if(doc.color == 'black'){%>黒
                        <% }else if(doc.color == 'white'){%>白
                        <% }else if(doc.color == 'yellow'){%>黄色
                        <% }else if(doc.color == 'orange'){%>オレンジ
                        <%}else{%>その他<%} %>
                    </div>
                    <div class="ui-block-b">
                        <% if(doc.companyType == 1){%>個人<% }else{%>民間<%} %>
                    </div>
                    <div class="ui-block-c">
                        <%= doc.rating %>
                    </div>
                    <%}) %>
                </div>
            </div>
            <div data-role="footer" data-position="fixed">
                <a href="/" data-back>戻る</a>
            </div>
        </div>
    </body>
</html>
