<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>タクシー評価結果</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/jquery.mobile-1.3.2.min.css' />
        <script src="/javascripts/jquery-1.10.2.min.js"></script>
        <script src="/javascripts/jquery.mobile-1.3.2.min.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header" data-position="fixed">
                <h1>結果</h1>
            </div>
            <div data-role="content">
                <% taxis.forEach(function(doc){%>
                    <li>色：<%= doc.color %>,タイプ：<%= doc.companyType %>評価：<%= doc.rating %></li>
                <%}) %>
            </div>
            <div data-role="footer" data-position="fixed">
                <a href="/" data-back>戻る</a>
            </div>
        </div>
    </body>
</html>
