<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>タクシーどうだった？</title>
        <% include common/_head.ejs %>
    </head>
    <body>
        <div data-role="page" data-url="/">
            <div data-role="header" data-position="fixed">
                <h1>タクシーどうだった？</h1>
            </div>
            <div data-role="content">
                <a href="/taxi/add" data-role="button" data-transition="slide">評価する</a>
                <a href="/taxi" data-role="button" data-transition="slide">見る</a>
                <a href="/geoLocation" data-role="button" data-transition="slide">地図を見る</a>
            </div>
            <div data-role="footer" data-position="fixed">
                <h4>フッター</h4>
            </div>
        </div>
    </body>
</html>
